
@keyframes example {
    from { background-color: #4aaaa5;}
    to { background-color: rgb(6, 86, 110);}
}

.header {
    color: white;
    background: #4aaaa5;
    animation: example 5s ease-in-out 0s 3 alternate;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

nav {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    border-color: #cccccc;
}

.con1 {
    border-bottom: #cccccc solid 2px;
}

a:link {
    color: #777;
    text-decoration:  none;

}


a:hover {

    text-decoration: none;
    background-color: #4aaaa5;
}    

h2 {
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}

.line1 {
    color: #777;
    border: solid #777 2px;
}

hr {

    border: solid 1px #cccccc;

}

.content {
    color: #777;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

.con2 {
    border-top: solid #4aaaa5 10px;
}